nav > ul{

    display: flex;
    /*  selector e (nav > ul) evabe greaterthan (>) bracket diye bujano hoise j: nav tag er vitore immidiate ul ta select kora hocce, ortat nav tag jodi parent tag hoi taile tar vitore ul k chele tag, & chele tag er vitore aro ekta ul takle ,taile ota k (nav tag er nati)tag nav er nati ul,, mane protom ul k chele dhorle, ul er vitore thaka ul k nati dhorle  (nav > ul) eta mane bujalo j nav er vitore chele ul k select kora hocce, nati ul ba ,(chele er vitore thaka ul k) bujano hoini,  */
}

nav li{
    list-style: none;
    margin-right: 10px; 

/* ekane (margin-right er (mr) )liklei margin right option show korbe,ar koshto kore margin right lika lagbena just (margin r m & right er r  liklei hobe.

erokom prottekta multiple word wala property er prottekta word er protom letter lika enter korle oi property cole asbe.
jmn: 
     font-family: serif; 
(ff) like enter korlei (font-family) cole asbe. word gulor protom letter lika enter korsi just,erokom shudo css e na, html,js, etc language e evabe shrotcut lika enter korlei property gulo cole asbe...
*/
  

 
}


nav  a{
    text-decoration: none;
    padding: 7px 12px;
    background-color: #ababab;
    color: #000;
    border-radius: 10px;
}
nav a:hover{
  padding: 7px 12px;
    background-color: rgb(136, 4, 136);
    color: #ddd;
    border-radius: 10px;
    
}

nav li .dropdown{
    display: none;

}

nav li:hover .dropdown{
/* ekane ei selector e bola hoyece: 

nav er vitore thaka li item gulo hover korle,kuno ekta li item e jodi (.dropdown) name kuno class thake take select kora hoyece.

*/

display: block;
background-color: navy;
border-radius: 10px;
padding-left:5px;
}

nav li .dropdown li{
margin-top: 10px;
padding: 5px;
}